
<div class="nav-wrapper">
    <ul id="nav"
    class="nav"
    data-slim-scroll
    data-collapse-nav
    data-highlight-active>
        <!-- <li><a md-button aria-label="meanu" href="#/dashboard"><i class="zmdi zmdi-home"></i><span data-translate="DASHBOARD"></span> </a></li> -->
        <li class="nav-divider"></li>
        <li><a md-button aria-label="meanu" href="#/pm/contract/all"><i class="fa fa-bar-chart"></i>สถานะการทำ PM รายสัญญา </a></li>
        <li class="nav-divider"></li>
        <li><a md-button aria-label="meanu" href="#/pm/branch/all"><i class="fa fa-bar-chart"></i>สถานะการทำ PM รายสาขา </a></li>
        <li class="nav-divider"></li>
        <li><a md-button aria-label="meanu" href="#/pm/manage"><i class="fa fa-pencil-square-o"></i>จัดการใบงาน </a></li>
        <li class="nav-divider"></li>
        <li><a md-button aria-label="meanu" href="#/equipment/manage"><i class="fa fa-pencil-square-o"></i>แก้ไขข้อมูลอุปกรณ์ </a></li>
        <li class="nav-divider"></li>
        <li><a md-button aria-label="meanu" href="#/user/manage"><i class="fa fa-user"></i>จัดการข้อมูลผู้ใช้ </a></li>
        <li class="nav-divider"></li>
        <li><a md-button aria-label="meanu" href="#/user/changePassword"><i class="fa fa-key"></i>เปลี่ยนรหัสผ่าน </a></li>
        <li class="nav-divider"></li>
        <li><a md-button aria-label="meanu" href="#/signin"><i class="fa fa-sign-out"></i>ออกจากระบบ </a></li>
    </ul>
</div>