<div class="page" ng-controller="addPMCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2> สร้างใบงานใหม่</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">กรุณาเลือกที่ทำการไปรษณีย์</h3>
                </div>
                <div class="panel-body">
                    <label for="">รหัส/ชื่อที่ทำการไปรษณีย์</label>
                    <select name="" id="" class="form-control" ng-model="poId" ng-options="x.key as x.value for x in ddlOffice" ng-change="onDdlBranchChange(poId)">
                        <option value="">กรุณาเลือก</option>
                    </select>
                    <!-- <div id="scrollable-dropdown-menu" class="input-group">
                        <input type="text" ng-model="selected" placeholder="รหัส-ชื่อที่ทำการไปรษณีย์"
                        uib-typeahead="x as x.value for x in ddlOffice | filter:$viewValue | limitTo:100" 
                        class="form-control" typeahead-on-select="onDdlBranchChange(selected.key)" typeahead-editable="false" typeahead-min-length="0" ng-change="change(selected)">
                        <label class="input-group-addon btn btn-sm" ng-click="selected = undefined; onDdlBranchChange(null)">
                           <span class="fa fa-times"></span>
                        </label>                    
                    </div> -->
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">รายการสัญญาสำหรับไปรษณีย์ที่เลือก</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th>ชื่อสัญญา</th>
                                    <th>จำนวนเคาน์เตอร์</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in model.list">
                                    <td>{{$index+1}}</td>
                                    <td>{{x.contract.contractName}}</td>
                                    <td>{{x.noOfCounter | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a class="btn btn-info" ng-show="model.list.length > 0 && !model.isCreate" confirm-click="CreateListPmDataByPoId(poId)" 
                         confirm="ยืนยันสร้างใบงาน">สร้างใบงาน</a>
                    <a href="#/pm/add/all/{{poId}}" class="btn btn-info" ng-show="model.list.length > 0 && model.isCreate">ตรวจเช็คเคาน์เตอร์</a>
                </div>
            </div>
        </div>
    </div>
</div>