<div class="page" ng-controller="changePasswordCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h3>เปลี่ยนรหัสผ่าน</h3>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ข้อมูลผู้ใช้งาน</h3>
                </div>
                <div class="panel-body">
                    <form name="submitForm" novalidate class="form-horizontal form-validation" ng-submit="save()">
                        <fieldset>
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <dd>ผู้ใช้งาน : {{model.userId}} - {{model.userName}}</dd>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <label class="required" for="">รหัสผ่านเดิม</label>
                                    <input name="password" type="password" class="form-control" required ng-model="user.password">
                                    <div ng-show="submitForm.password.$dirty" ng-messages="submitForm.password.$error" style="color:red" role="alert">
                                        <div ng-message="required && dirty">กรุณากรอกข้อมูล</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="required" for="">รหัสผ่านใหม่</label>
                                    <input name="newPassword" type="password" class="form-control" required ng-model="user.newPassword">
                                    <div ng-show="submitForm.newPassword.$dirty" ng-messages="submitForm.newPassword.$error" style="color:red" role="alert">
                                        <div ng-message="required && dirty">กรุณากรอกข้อมูล</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="required" for="">รหัสผ่านใหม่ (อีกครั้ง)</label>
                                    <input name="confirmPassword" type="password" class="form-control" required ng-model="user.confirmPassword">
                                    <div ng-show="submitForm.confirmPassword.$dirty" ng-messages="submitForm.confirmPassword.$error" style="color:red" role="alert">
                                        <div ng-message="required && dirty">กรุณากรอกข้อมูล</div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-info">บันทึกข้อมูล</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>