<div class="page" ng-controller="editUserCtrl">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h3><button back-button></button> แก้ไขข้อมูลผู้ใช้ระบบ</h3>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ข้อมูลผู้ใช้งาน</h3>
                </div>
                <div class="panel-body">
                    <form name="submitForm" novalidate class="form-horizontal form-validation" ng-submit="save()">
                        <fieldset>
                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <label for="">รหัสผู้ใช้งาน</label>
                                    <input type="text" class="form-control" required ng-model="model.userId" disabled>
                                </div>
                                <div class="col-sm-3">
                                    <label class="required" for="">ชื่อผู้ใช้งาน</label>
                                    <input type="text" class="form-control" required ng-model="model.userName">
                                    <div ng-show="submitForm.username.$dirty" ng-messages="submitForm.username.$error" style="color:red" role="alert">
                                        <div ng-message="required && dirty">กรุณากรอกข้อมูล</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="required" for="">สิทธิ์ผู้ใช้งาน</label>
                                    <select name="" id="" class="form-control" required ng-model="model.userRoles[0].roleId" ng-options="x.key as x.value for x in ddlRoless">
                                        <option value="">กรุณาเลือก</option>
                                    </select>
                                </div>
                                <div class="col-sm-3" ng-show="model.userRoles[0].roleId == 1">
                                    <label class="required" for="">สาขาของ Ricoh</label>
                                    <select name="" id="" class="form-control" ng-required="model.userRoles[0].roleId == 1" ng-model="model.userBranches[0].ricohBranchId" ng-options="x.key as x.value for x in ddlBranches">
                                        <option value="">กรุณาเลือก</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-info">บันทึกแก้ไขข้อมูล</button>

                                <button type="button" class="btn btn-danger" style="margin:0 10px;" ng-show="model.statusId == 'A'"
                                 confirm-click="cancelUser()"  confirm="ยืนยันเปลี่ยนสถานะข้อมูลผู้ใช้เป็น 'ยกเลิกใช้งาน'">ยกเลิกข้อมูลผู้ใช้</button>

                                 <button type="button" class="btn btn-warning" style="margin:0 10px;" ng-show="model.statusId == 'I'"
                                 confirm-click="activeUser()"  confirm="ยืนยันเปลี่ยนสถานะข้อมูลผู้ใช้เป็น 'ใช้งาน'">เปิดใช้งานข้อมูลผู้ใช้</button>
                                 <button type="button" class="btn btn-info"
                                 confirm-click="resetPassword()"  confirm="ยืนยันรีเซ็ตรหัสผ่านใหม่">รีเซ็ตรหัสผ่าน</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>