<div class="page-signin" ng-controller="authCtrl">

    <div class="wrapper">
        <div class="main-body">
            <div class=""> <!-- body-inner -->
                <form name="submitForm" novalidate class="card bg-white form-validation" ng-submit="signin()">
                    <div class="card-content">

                        <section class="logo text-center">
                            <img class="img-responsive" src="././images/logo.png" />
                            <h1 style="margin:10px 0;">{{main.brand}}</h1>
                            <hr style="margin:10px 0;">
                        </section>

                        <div class="form-horizontal">
                                <h1 class="text-center">
                                    </h1>
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="text" class="form-control" ng-model="model.userId" ng-change="error.isError = false" required>
                                        <span class="input-bar"></span>
                                        <label>USER ID</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="password" class="form-control" ng-model="model.password" ng-change="error.isError = false" required>
                                        <span class="input-bar"></span>
                                        <label>PASSWORD</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="card-action no-border">
                        <md-button type="submit" class="md-raised btn-w-md btn-block btn-orange">
                            <i class="zmdi zmdi-square-right" style="padding-right:10px;"></i> Login
                        </md-button>
                    </div>
                    <div class="card-action no-border" style="padding:0 20px;" ng-show="error.isError">
                        <div class="alert alert-danger" role="alert">{{error.errorMsg}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center" style="margin-bottom:20px;">
                            version: 1.0.0
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>