@media print {
   .no-print{
        display:none;
    }
}

.no-marin{
    margin:0 !important;
}

.custom-disabled {
    pointer-events: none;
}

label.required:after {
    content: " *";
    color: red;
}

[uib-typeahead-popup].dropdown-menu {
	max-height: 255px;
	overflow-y: auto;
}